---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.jsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Blogs from '../../components/sections/blogs.astro'

export const prerender = true;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header client:load isBlog/>
        <main class="flex min-w-0 flex-col items-center overflow-x-hidden px-4 sm:px-6">
          <section class="w-full max-w-3xl py-8 md:py-12" id="recent-blogs">
        <Blogs/>
			</section>
		</main>
	</body>
</html>
